extends layout

block content

  div.container
    div.page-header
      h1= page_title
      h1= message
      h1 Runde #{counter}
      h1 Der Computer hat #{computer_move} Hölzer entfernt
    h3.text-info es sind noch #{matches_left} Streichhölzer übrig
    form(name="continue_game", method="post")
      div.form-group
        label Wieviele Hölzer sollen entfernt werden
        div.radio
          label
            input(type="radio", name="matches_subtract", value="1")
            span 1
        div.radio
          label
            input(type="radio", name="matches_subtract", value="2")
            span 2
        div.radio
          label
            input(type="radio", name="matches_subtract", value="3")
            span 3
      button(class="btn btn default", type="submit") Weiterspielen
